*{
    padding: 0;
    margin: 0;
}

body{
    background-color: beige; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header{
    background: #003366;
    padding: 15px;
}

#header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}

#header ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

#footer{
    background-color:  red;
    padding: 20px;
}

#main{
    padding: 20px 0;
    width: 500px;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.error{
    color: #ac2323;
}

p{

    size: 15px;
    text-align: center;

}
